- if notice
  %p{class: "alert alert-#{alert}"}= notice

.top
  %h3 Issues
  =link_to 'New Issue', new_project_issue_path, class: 'btn btn-primary right'

.search
  = form_tag({:controller => 'issues', :action => 'index'}, method: 'get', class: 'form-inline')  do
    .form-group
      = text_field_tag :identifiers, nil, placeholder: 'Identifiers', class: 'form-control'
    .form-group
      = text_field_tag :title, nil, placeholder: 'Title', class: 'form-control'
    .form-group
      = select_tag :kind, options_for_select(['Enhancement', 'Error']), :class => 'form-control' 
    .form-group
      = select_tag :status, options_for_select(@statuses.to_a), :class => 'form-control' 
    .form-group
      = submit_tag "Search", class: 'btn btn-default'

-@issues.each do |issue|
  //-issue.kind == 'Improvement' ? @color = 'panel-danger' : @color = 'panel-success'
  .list-item
    %h4=link_to "#{issue.identifier} #{issue.title}", project_issue_path(params[:project_id], issue.id)
    %p 
      %b Labels:
      - issue.labels.each do |l|
        = l.name
      %b Status:
      = issue.status.name
    %p=issue.description
    =link_to 'Edit', edit_project_issue_path(params[:project_id], issue.id)
    =link_to 'Delete', project_issue_path(params[:project_id], issue.id), method: :delete