= form_for [@project, @use_case] do |f|
  - if @use_case.errors.any?
    #error_explanation
      %h2= "#{pluralize(@use_case.errors.count, "error")} prohibited this use_case from being saved:"
      %ul
        - @use_case.errors.full_messages.each do |msg|
          %li= msg

  .form-horizontal
    .form-group
      .field
        = f.label :priority, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.select :priority, [['Low'], ['High'], ['Medium']], {}, { :class => 'form-control' }
    .form-group
      .field
        = f.label :title, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :title, class: 'form-control'
    .form-group
      .field
        = f.label :description, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_area :description, class: 'form-control', rows: 5
    .form-group
      .field
        = f.label :preconditions, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_area :preconditions, class: 'form-control', rows: 5
    .form-group
      .field
        = f.label :steps, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_area :steps, class: 'form-control', rows: 5
    .form-group
      .field
        = f.label :postconditions, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_area :postconditions, class: 'form-control', rows: 5
    .form-group
      = f.label :requirements, class: 'col-sm-2 control-label'
      .col-sm-10
        - if @formatted_requirements
          = f.text_field :requirements, value: "#{@formatted_requirements}", class: 'form-control'
        - else
          = f.text_field :requirements, class: 'form-control'
    .form-group
      %div{class: "col-sm-offset-2 col-sm-10"}
        = f.submit 'Save', class: 'btn btn-primary'
