= form_for [@project, @requirement] do |f|
  - if @requirement.errors.any?
    #error_explanation
      %h2= "#{pluralize(@requirement.errors.count, "error")} prohibited this requirement from being saved:"
      %ul
        - @requirement.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :priority
    = f.select :priority, [["Low"], ["High"], ["Medium"]]
  .field
    = f.label :kind
    = f.select :kind, [["Functional"], ["Non-Functional"]]
  .actions
    = f.submit 'Save'
