= form_for [@project, @requirement] do |f|
  - if @requirement.errors.any?
    #error_explanation
      %h2= "#{pluralize(@requirement.errors.count, "error")} prohibited this requirement from being saved:"
      %ul
        - @requirement.errors.full_messages.each do |msg|
          %li= msg

  .form-horizontal
    .form-group
      .field
        = f.label :title, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :title, class: 'form-control'
    .form-group
      .field
        = f.label :description, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_area :description, class: 'form-control', rows: 5
    .form-group
      .field
        = f.label :priority, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.select :priority, options_for_select(@priorities.to_a, @priority), {}, { :class => 'form-control' }
    .form-group
      .field
        = f.label :kind, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.select :kind, [["Functional"], ["Non-Functional"]], {}, { :class => 'form-control' }
    .form-group
      .col-sm-offset-2.col-sm-10
        .actions
          = f.submit 'Save', class: 'btn btn-primary'
