- if notice
	%p#notice= notice

%h3= "#{@requirement.identifier} #{@requirement.title}"

.content
	.row
		.col-md-2
			%p
				%b Priority:
		.col-md-9
			= @requirement.priority
	.row
		.col-md-2
			%p
				%b Description:
		.col-md-9
			= @requirement.description
	.row
		.col-md-2
			%p
				%b Use cases:
		.col-md-9
			- @related_use_cases.each do |uc|
				= link_to uc.identifier, project_use_case_path(@project, uc)
	.row
		.col-md-2
			%p
				%b Test cases:
		.col-md-9
			- @related_test_cases.each do |tc|
				= link_to tc.identifier, project_test_case_path(@project, tc[:_id])

= link_to 'Edit', edit_project_requirement_path(@project, @requirement)
=link_to 'Delete', project_requirement_path(@project, @requirement), method: :delete, :data => { :confirm => 'Are you sure?' }