= form_for @test_run do |f|
  - if @test_run.errors.any?
    #error_explanation
      %h2= "#{pluralize(@test_run.errors.count, "error")} prohibited this test_run from being saved:"
      %ul
        - @test_run.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :date
    = f.text_field :date
  .actions
    = f.submit 'Save'
