- if notice
  %p.notice= notice

.top
  %h3
    Test runs
  =link_to 'New Test Run', new_project_test_run_path(@project), class: 'btn btn-primary right'

- @test_runs.each do |test_run|
  .list-item
    %h4= link_to "Test run #{test_run.date.to_time}",project_test_run_path(@project, test_run)
    %p
      %b Summary:
    %p
      Total: 
      = test_run.summary.total
      Passed: 
      %span{class: 'passed'}= test_run.summary.passed
      Failed: 
      %span{class: 'failed'}= test_run.summary.failed
      Skipped: 
      %span{class: 'skipped'}= test_run.summary.skipped
    = link_to 'Delete', project_test_run_path(@project, test_run), :method => :delete, :data => { :confirm => 'Are you sure?' }