%h3="#{@test_case.identifier} #{@test_case.title}"

.content
	.row
		%p
			%b Preconditions:
			= simple_format(@test_case.preconditions)
	.row
		%p
			%b Steps:
			= simple_format(@test_case.steps)
	.row
		%p
			%b Postconditions:
			= simple_format(@test_case.postconditions)

%p.instructions Follow the steps to run the test case.
%p.instructions Keep in mind that the preconditions should be satisfied before starting the test.

= form_tag project_test_run_run_test_path(@project, @test_run, identifier: @test_case.identifier), method: "patch" do
	.form-vertical
		.form-group
			= label_tag :comment, "Comments", class: 'control-label'
			= text_area_tag :comment, nil,class: 'form-control'

	.actions
		= submit_tag("Passed", class: 'btn btn-success')
		= submit_tag("Skipped", class: 'btn btn-warning')
		= submit_tag("Failed", class: 'btn btn-danger')