- if notice
	%p#notice= notice

%h3= "Test run #{@test_run.date.to_time}"

%h4 Summary
%p
	%b Total:
	= @test_run.summary.total
	%b Passed:
	%span.passed= @test_run.summary.passed
	%b Failed:
	%span.failed= @test_run.summary.failed
	%b Skiped:
	%span.skipped= @test_run.summary.skipped
		
%h4.header Reports
- @test_run.reports.each do |r|
	.list-item
		%p
			=link_to "Test case #{r.test_case["identifier"]}", project_test_case_path(@project, r.test_case["_id"])
		%p
			%b Result:
			%span{class: "#{r.result.downcase}"}= r.result
		%p
			%b Comment:
		= r.comment

= link_to 'Delete', project_test_run_path(@project, @test_run), :method => :delete, :data => { :confirm => 'Are you sure?' }