= form_for [@project, @test_case] do |f|
  - if @test_case.errors.any?
    #error_explanation
      %h2= "#{pluralize(@test_case.errors.count, "error")} prohibited this test_case from being saved:"
      %ul
        - @test_case.errors.full_messages.each do |msg|
          %li= msg

  .form-horizontal
    .form-group
      .field
        = f.label :title, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :title, class: 'form-control'
    .form-group
      .field
        = f.label :description, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_area :description, class: 'form-control', rows: 5
    .form-group
      .field
        = f.label :preconditions, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_area :preconditions, class: 'form-control', rows: 5
    .form-group
      .field
        = f.label :steps, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_area :steps, class: 'form-control', rows: 5
    .form-group
      .field
        = f.label :postconditions, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_area :postconditions, class: 'form-control', rows: 5
    .form-group
      .field
        = f.label :use_cases, class: 'col-sm-2 control-label'
        .col-sm-10
          = select_tag :use_cases, options_for_select(ucsl, ucs), {:multiple => true, :class => 'form-control' }

    .form-group
      .field
        = f.label :requirements, class: 'col-sm-2 control-label'
        .col-sm-10
          = select_tag :requirements, options_for_select(rsl, rs), {:multiple => true, :class => 'form-control' }
    .form-group
      .col-sm-offset-2.col-sm-10
        .actions
          = f.submit 'Save', class: 'btn btn-primary'
