- if notice
  %p{class: "alert alert-#{alert}"}= notice
  
.top
  %h3
    Test cases
  =link_to 'New Test Case', new_project_test_case_path(@project), class: 'btn btn-primary pull-right'

.search
  = form_tag({:controller => 'test_cases', :action => 'index'}, method: 'get', class: 'form-inline')  do
    .form-group
      = select_tag :use_cases, options_for_select(@use_cases_list), {:multiple => true, :class => 'form-control' }
    .form-group
      = select_tag :requirements, options_for_select(@requirements_list), {:multiple => true, :class => 'form-control' }
    .form-group
      = submit_tag "Search", class: 'btn btn-default'

- if @test_cases.count > 0
  - @test_cases.each do |test_case|
    .list-item
      %h4=link_to "#{test_case.identifier} #{test_case.title}", project_test_case_path(@project, test_case) 
      %p=test_case.description

      - if test_case.use_cases.count > 0 
        %p
          %b Use Cases
          - test_case.use_cases.each do |uc|
            = link_to uc.identifier, project_use_case_path(@project, uc)
      - if test_case.requirements.count > 0 
        %p
          %b Requirements
          - test_case.requirements.each do |r|
            = link_to r.identifier, project_requirement_path(@project, r)

      =link_to 'Edit', edit_project_test_case_path(@project, test_case)
      =link_to 'Delete', project_test_case_path(@project, test_case), method: :delete, :data => { :confirm => 'Are you sure?' }
- else
  %p No test cases.