- if notice
  %p{class: "alert alert-#{alert}"}= notice

%h3= "#{@test_case.identifier} #{@test_case.title}"

.content
  .row
    .col-md-3
      %p
        %b Preconditions:
    .col-md-9
      = simple_format(@test_case.preconditions)
  .row
    .col-md-3
      %p
        %b Steps:
    .col-md-9
      = simple_format(@test_case.steps)
  .row
    .col-md-3
      %p
        %b Postconditions:
    .col-md-9
      = simple_format(@test_case.postconditions)
  .row
    .col-md-3
      %p
        %b Use cases:
    .col-md-9
      - @test_case.use_cases.each do |uc|
        = link_to "#{uc["identifier"]}", project_use_case_path(@project, uc["_id"])
  .row
    .col-md-3
      %p
        %b Requirements:
    .col-md-9
      - @test_case.requirements.each do |rq|
        = link_to "#{rq["identifier"]}", project_requirement_path(@project, rq["_id"])

= link_to 'Edit', edit_project_test_case_path(@project, @test_case)
=link_to 'Delete', project_test_case_path(@project, @test_case), method: :delete, :data => { :confirm => 'Are you sure?' }