<!DOCTYPE html>
<html>
<head>
  <title>Rim</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<h1 class="site-header">RIM</h1>
	<nav class="nav">
		<%= link_to 'Projects', projects_url, class: "pull-left" %>
	</nav>
	<% if @project %>
		<h2 class="page-header"><%= @project.name %></h2>
	<% else %>
		<h2 class="page-header">
			Projects
			<%=link_to 'New Project', new_project_path, class: 'btn btn-primary pull-right'%>
		</h2>
	<% end %>
</header>

<div class="row">
<% if @menu %>
<aside class="menu col-md-3">
	<% @menu.each do |link| %>
		<% if controller.controller_name == link[:controller] %>
			<li><%= link_to link[:name], link[:path], class: 'active' %></li>
		<% else %>
			<li><%= link_to link[:name], link[:path]%></li>
		<% end %>
	<% end %>
</aside>
<% end %>

<% if @project %>
<section class="main col-md-8">
<% else %>
<section class="main">
<% end %>
	<%= yield %>
</section>
</div>

<footer class="row">
	<div class="authors">
		<div class="author">
			<span class="name">Denisse Lara</span>
			<a href="https://github.com/huesitos"><%=image_tag("github.svg")%></a>
		</div>
		<div class="author">
			<span class="name">Teodoro Alcantara</span>
			<a href="https://github.com/marti700"><%=image_tag("github.svg")%></a>
		</div>
		</div>
</footer>

</body>
</html>
